# Configuración de base de datos de Agendatina
DB_HOST=localhost
DB_NAME=c2771918_tina
DB_USER=root
DB_PASS=

# Configuración de correo (SMTP)
SMTP_HOST=mail.tudominio.com
SMTP_USER=tu_correo@tudominio.com
SMTP_PASS=tu_contraseña
SMTP_PORT=587

# Credenciales de Super Admin (Panel general)
SUPERADMIN_USER=admin_ejemplo
SUPERADMIN_PASS=password_ejemplo
